<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>
      <a href="http://heliopy.org">
        <img src=/images/heliopy_logo.png style='height:50px'>
      </a>
      <a href="https://pfsspy.readthedocs.io/en/stable/">
        <img src=/images/pfsspy.svg style='height:50px'>
      </a>
    </div>

  </div>

</footer>
