
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.mySlides {display:none}
</style>
<body>

<div class="w3-content" style="max-width:800px">
      <img class="mySlides" src="/images/psp/1/20181024.png" style="width:100%">
      <img class="mySlides" src="/images/psp/1/20181025.png" style="width:100%">
      <img class="mySlides" src="/images/psp/1/20181026.png" style="width:100%">
      <img class="mySlides" src="/images/psp/1/20181027.png" style="width:100%">
      <img class="mySlides" src="/images/psp/1/20181028.png" style="width:100%">
      <img class="mySlides" src="/images/psp/1/20181029.png" style="width:100%">
      <img class="mySlides" src="/images/psp/1/20181030.png" style="width:100%">
      <img class="mySlides" src="/images/psp/1/20181031.png" style="width:100%">
      <img class="mySlides" src="/images/psp/1/20181101.png" style="width:100%">
      <img class="mySlides" src="/images/psp/1/20181102.png" style="width:100%">
      <img class="mySlides" src="/images/psp/1/20181103.png" style="width:100%">
      <img class="mySlides" src="/images/psp/1/20181104.png" style="width:100%">
      <img class="mySlides" src="/images/psp/1/20181105.png" style="width:100%">
      <img class="mySlides" src="/images/psp/1/20181106.png" style="width:100%">
      <img class="mySlides" src="/images/psp/1/20181107.png" style="width:100%">
      <img class="mySlides" src="/images/psp/1/20181108.png" style="width:100%">
      <img class="mySlides" src="/images/psp/1/20181109.png" style="width:100%">
      <img class="mySlides" src="/images/psp/1/20181110.png" style="width:100%">
      <img class="mySlides" src="/images/psp/1/20181111.png" style="width:100%">
      <img class="mySlides" src="/images/psp/1/20181112.png" style="width:100%">
      <img class="mySlides" src="/images/psp/1/20181113.png" style="width:100%">
      <img class="mySlides" src="/images/psp/1/20181114.png" style="width:100%">
      <img class="mySlides" src="/images/psp/1/20181115.png" style="width:100%">
      <img class="mySlides" src="/images/psp/1/20181116.png" style="width:100%">
      <img class="mySlides" src="/images/psp/1/20181117.png" style="width:100%">
</div>

<div class="w3-center">
  <div class="w3-section">
    <button class="w3-button w3-light-grey" onclick="plusDivs(-1)">❮ Prev</button>
    <button class="w3-button w3-light-grey" onclick="plusDivs(1)">Next ❯</button>
  </div>
</div>

<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  if (n > x.length) {slideIndex = x.length}
  if (n < 1) {slideIndex = 1}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" w3-red", "");
  }
  x[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " w3-red";
}
</script>

</body>
</html>
    