
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.mySlides {display:none}
</style>
<body>

<div class="w3-content" style="max-width:800px">
      <img class="mySlides" src="/images/psp/3/20190820.png" style="width:100%">
      <img class="mySlides" src="/images/psp/3/20190821.png" style="width:100%">
      <img class="mySlides" src="/images/psp/3/20190822.png" style="width:100%">
      <img class="mySlides" src="/images/psp/3/20190823.png" style="width:100%">
      <img class="mySlides" src="/images/psp/3/20190824.png" style="width:100%">
      <img class="mySlides" src="/images/psp/3/20190825.png" style="width:100%">
      <img class="mySlides" src="/images/psp/3/20190826.png" style="width:100%">
      <img class="mySlides" src="/images/psp/3/20190827.png" style="width:100%">
      <img class="mySlides" src="/images/psp/3/20190828.png" style="width:100%">
      <img class="mySlides" src="/images/psp/3/20190829.png" style="width:100%">
      <img class="mySlides" src="/images/psp/3/20190830.png" style="width:100%">
      <img class="mySlides" src="/images/psp/3/20190831.png" style="width:100%">
      <img class="mySlides" src="/images/psp/3/20190901.png" style="width:100%">
      <img class="mySlides" src="/images/psp/3/20190902.png" style="width:100%">
      <img class="mySlides" src="/images/psp/3/20190903.png" style="width:100%">
      <img class="mySlides" src="/images/psp/3/20190904.png" style="width:100%">
      <img class="mySlides" src="/images/psp/3/20190905.png" style="width:100%">
      <img class="mySlides" src="/images/psp/3/20190906.png" style="width:100%">
      <img class="mySlides" src="/images/psp/3/20190907.png" style="width:100%">
      <img class="mySlides" src="/images/psp/3/20190908.png" style="width:100%">
      <img class="mySlides" src="/images/psp/3/20190909.png" style="width:100%">
      <img class="mySlides" src="/images/psp/3/20190910.png" style="width:100%">
      <img class="mySlides" src="/images/psp/3/20190911.png" style="width:100%">
      <img class="mySlides" src="/images/psp/3/20190912.png" style="width:100%">
      <img class="mySlides" src="/images/psp/3/20190913.png" style="width:100%">
</div>

<div class="w3-center">
  <div class="w3-section">
    <button class="w3-button w3-light-grey" onclick="plusDivs(-1)">❮ Prev</button>
    <button class="w3-button w3-light-grey" onclick="plusDivs(1)">Next ❯</button>
  </div>
</div>

<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  if (n > x.length) {slideIndex = x.length}
  if (n < 1) {slideIndex = 1}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" w3-red", "");
  }
  x[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " w3-red";
}
</script>

</body>
</html>
    